In [1]:
import pandas as pd
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 10000)
import numpy as np
import matplotlib.pyplot as plt
import math
import warnings
warnings.filterwarnings("ignore")

# TensorFlow 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.nn import relu

# Scikit Learn 
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, SGDRegressor, ElasticNet, BayesianRidge
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from xgboost.sklearn import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
with open('data_description.txt', 'r') as text_file:
    
    text_features_dict = {
        'Id':[np.nan], 
        'SalePrice':[np.nan]
    }
    
    for line in text_file:
        if ':' in line and line[0] != ' ':
            text_column = line[:line.find(":")]
            if (text_column == 'Bedroom' or text_column == 'Kitchen'):
                text_column += 'AbvGr'
            text_features_dict[text_column] = [np.nan]
        elif line.strip() != '':
            text_value = line[:line.find("\t")].strip()
            text_features_dict[text_column].append(text_value)
            if np.nan in text_features_dict[text_column]:
                text_features_dict[text_column].remove(np.nan) 

del text_file, line, text_column, text_value

In [3]:
text_features_dict

{'Id': [nan],
 'SalePrice': [nan],
 'MSSubClass': ['20',
  '30',
  '40',
  '45',
  '50',
  '60',
  '70',
  '75',
  '80',
  '85',
  '90',
  '120',
  '150',
  '160',
  '180',
  '190'],
 'MSZoning': ['A', 'C', 'FV', 'I', 'RH', 'RL', 'RP', 'RM'],
 'LotFrontage': [nan],
 'LotArea': [nan],
 'Street': ['Grvl', 'Pave'],
 'Alley': ['Grvl', 'Pave', 'NA'],
 'LotShape': ['Reg', 'IR1', 'IR2', 'IR3'],
 'LandContour': ['Lvl', 'Bnk', 'HLS', 'Low'],
 'Utilities': ['AllPub', 'NoSewr', 'NoSeWa', 'ELO'],
 'LotConfig': ['Inside', 'Corner', 'CulDSac', 'FR2', 'FR3'],
 'LandSlope': ['Gtl', 'Mod', 'Sev'],
 'Neighborhood': ['Blmngtn',
  'Blueste',
  'BrDale',
  'BrkSide',
  'ClearCr',
  'CollgCr',
  'Crawfor',
  'Edwards',
  'Gilbert',
  'IDOTRR',
  'MeadowV',
  'Mitchel',
  'Names',
  'NoRidge',
  'NPkVill',
  'NridgHt',
  'NWAmes',
  'OldTown',
  'SWISU',
  'Sawyer',
  'SawyerW',
  'Somerst',
  'StoneBr',
  'Timber',
  'Veenker'],
 'Condition1': ['Artery',
  'Feedr',
  'Norm',
  'RRNn',
  'RRAn',
  'PosN',
  'PosA',
  'RRNe',
  'RRAe'],
 'Condition2': ['Artery',
  'Feedr',
  'Norm',
  'RRNn',
  'RRAn',
  'PosN',
  'PosA',
  'RRNe',
  'RRAe'],
 'BldgType': ['1Fam', '2FmCon', 'Duplx', 'TwnhsE', 'TwnhsI'],
 'HouseStyle': ['1Story',
  '1.5Fin',
  '1.5Unf',
  '2Story',
  '2.5Fin',
  '2.5Unf',
  'SFoyer',
  'SLvl'],
 'OverallQual': ['10', '9', '8', '7', '6', '5', '4', '3', '2', '1'],
 'OverallCond': ['10', '9', '8', '7', '6', '5', '4', '3', '2', '1'],
 'YearBuilt': [nan],
 'YearRemodAdd': [nan],
 'RoofStyle': ['Flat', 'Gable', 'Gambrel', 'Hip', 'Mansard', 'Shed'],
 'RoofMatl': ['ClyTile',
  'CompShg',
  'Membran',
  'Metal',
  'Roll',
  'Tar&Grv',
  'WdShake',
  'WdShngl'],
 'Exterior1st': ['AsbShng',
  'AsphShn',
  'BrkComm',
  'BrkFace',
  'CBlock',
  'CemntBd',
  'HdBoard',
  'ImStucc',
  'MetalSd',
  'Other',
  'Plywood',
  'PreCast',
  'Stone',
  'Stucco',
  'VinylSd',
  'Wd Sdng',
  'WdShing'],
 'Exterior2nd': ['AsbShng',
  'AsphShn',
  'BrkComm',
  'BrkFace',
  'CBlock',
  'CemntBd',
  'HdBoard',
  'ImStucc',
  'MetalSd',
  'Other',
  'Plywood',
  'PreCast',
  'Stone',
  'Stucco',
  'VinylSd',
  'Wd Sdng',
  'WdShing'],
 'MasVnrType': ['BrkCmn', 'BrkFace', 'CBlock', 'None', 'Stone'],
 'MasVnrArea': [nan],
 'ExterQual': ['Ex', 'Gd', 'TA', 'Fa', 'Po'],
 'ExterCond': ['Ex', 'Gd', 'TA', 'Fa', 'Po'],
 'Foundation': ['BrkTil', 'CBlock', 'PConc', 'Slab', 'Stone', 'Wood'],
 'BsmtQual': ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'NA'],
 'BsmtCond': ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'NA'],
 'BsmtExposure': ['Gd', 'Av', 'Mn', 'No', 'NA'],
 'BsmtFinType1': ['GLQ', 'ALQ', 'BLQ', 'Rec', 'LwQ', 'Unf', 'NA'],
 'BsmtFinSF1': [nan],
 'BsmtFinType2': ['GLQ', 'ALQ', 'BLQ', 'Rec', 'LwQ', 'Unf', 'NA'],
 'BsmtFinSF2': [nan],
 'BsmtUnfSF': [nan],
 'TotalBsmtSF': [nan],
 'Heating': ['Floor', 'GasA', 'GasW', 'Grav', 'OthW', 'Wall'],
 'HeatingQC': ['Ex', 'Gd', 'TA', 'Fa', 'Po'],
 'CentralAir': ['N', 'Y'],
 'Electrical': ['SBrkr', 'FuseA', 'FuseF', 'FuseP', 'Mix'],
 '1stFlrSF': [nan],
 '2ndFlrSF': [nan],
 'LowQualFinSF': [nan],
 'GrLivArea': [nan],
 'BsmtFullBath': [nan],
 'BsmtHalfBath': [nan],
 'FullBath': [nan],
 'HalfBath': [nan],
 'BedroomAbvGr': [nan],
 'KitchenAbvGr': [nan],
 'KitchenQual': ['Ex', 'Gd', 'TA', 'Fa', 'Po'],
 'TotRmsAbvGrd': [nan],
 'Functional': ['Typ', 'Min1', 'Min2', 'Mod', 'Maj1', 'Maj2', 'Sev', 'Sal'],
 'Fireplaces': [nan],
 'FireplaceQu': ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'NA'],
 'GarageType': ['2Types',
  'Attchd',
  'Basment',
  'BuiltIn',
  'CarPort',
  'Detchd',
  'NA'],
 'GarageYrBlt': [nan],
 'GarageFinish': ['Fin', 'RFn', 'Unf', 'NA'],
 'GarageCars': [nan],
 'GarageArea': [nan],
 'GarageQual': ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'NA'],
 'GarageCond': ['Ex', 'Gd', 'TA', 'Fa', 'Po', 'NA'],
 'PavedDrive': ['Y', 'P', 'N'],
 'WoodDeckSF': [nan],
 'OpenPorchSF': [nan],
 'EnclosedPorch': [nan],
 '3SsnPorch': [nan],
 'ScreenPorch': [nan],
 'PoolArea': [nan],
 'PoolQC': ['Ex', 'Gd', 'TA', 'Fa', 'NA'],
 'Fence': ['GdPrv', 'MnPrv', 'GdWo', 'MnWw', 'NA'],
 'MiscFeature': ['Elev', 'Gar2', 'Othr', 'Shed', 'TenC', 'NA'],
 'MiscVal': [nan],
 'MoSold': [nan],
 'YrSold': [nan],
 'SaleType': ['WD',
  'CWD',
  'VWD',
  'New',
  'COD',
  'Con',
  'ConLw',
  'ConLI',
  'ConLD',
  'Oth'],
 'SaleCondition': ['Normal',
  'Abnorml',
  'AdjLand',
  'Alloca',
  'Family',
  'Partial']}

In [4]:
numerical_features_lst = []
categorical_features_lst  = []
special_cases_features_lst  = []

for key, value in text_features_dict.items():
    if np.nan in value:
        numerical_features_lst.append(key)
    else:
        if 'NA' in value:
            special_cases_features_lst.append(key)
        else:
            categorical_features_lst.append(key)

del key, value
len(numerical_features_lst), len(categorical_features_lst), len(special_cases_features_lst)

(35, 32, 14)

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [6]:
def missing_values(train=train, test=test):
    train_null = train.isnull().sum()
    test_null = test.isnull().sum()
    return pd.DataFrame({
        'Train': train_null, 
        'Test': test_null,
        '% Train': round(train_null/len(train), 2),
        '% Test': round(test_null/len(test), 2)
    })

In [7]:
missing_values(train[special_cases_features_lst], test[special_cases_features_lst]).query("Train > 0 or Test > 0")

              Train  Test  % Train  % Test
Alley          1369  1352     0.94    0.93
BsmtQual         37    44     0.03    0.03
BsmtCond         37    45     0.03    0.03
BsmtExposure     38    44     0.03    0.03
BsmtFinType1     37    42     0.03    0.03
BsmtFinType2     38    42     0.03    0.03
FireplaceQu     690   730     0.47    0.50
GarageType       81    76     0.06    0.05
GarageFinish     81    78     0.06    0.05
GarageQual       81    78     0.06    0.05
GarageCond       81    78     0.06    0.05
PoolQC         1453  1456     1.00    1.00
Fence          1179  1169     0.81    0.80
MiscFeature    1406  1408     0.96    0.97

In [8]:
# Replace categorical missing values with Not Available  
for column in special_cases_features_lst:
    print(f'\n******* {column} *******')
    print('--- TRAIN ---')
    print('Before:', train[column].unique(), end='\n')
    train[column] = train[column].apply(lambda value: f'No {column}' if pd.isna(value) else value)
    print('After:', train[column].unique(), end='\n\n')
    print('--- TEST ---')
    print('Before:', test[column].unique(), end='\n')
    test[column] = test[column].apply(lambda value: f'No {column}' if pd.isna(value) else value)
    print('After:', test[column].unique(), end='\n\n')

del column

******* Alley *******
--- TRAIN ---
Before: [nan 'Grvl' 'Pave']
After: ['No Alley' 'Grvl' 'Pave']

--- TEST ---
Before: [nan 'Pave' 'Grvl']
After: ['No Alley' 'Pave' 'Grvl']


******* BsmtQual *******
--- TRAIN ---
Before: ['Gd' 'TA' 'Ex' nan 'Fa']
After: ['Gd' 'TA' 'Ex' 'No BsmtQual' 'Fa']

--- TEST ---
Before: ['TA' 'Gd' 'Ex' 'Fa' nan]
After: ['TA' 'Gd' 'Ex' 'Fa' 'No BsmtQual']


******* BsmtCond *******
--- TRAIN ---
Before: ['TA' 'Gd' nan 'Fa' 'Po']
After: ['TA' 'Gd' 'No BsmtCond' 'Fa' 'Po']

--- TEST ---
Before: ['TA' 'Po' 'Fa' 'Gd' nan]
After: ['TA' 'Po' 'Fa' 'Gd' 'No BsmtCond']


******* BsmtExposure *******
--- TRAIN ---
Before: ['No' 'Gd' 'Mn' 'Av' nan]
After: ['No' 'Gd' 'Mn' 'Av' 'No BsmtExposure']

--- TEST ---
Before: ['No' 'Gd' 'Mn' 'Av' nan]
After: ['No' 'Gd' 'Mn' 'Av' 'No BsmtExposure']


******* BsmtFinType1 *******
--- TRAIN ---
Before: ['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
After: ['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' 'No BsmtFinType1' 'LwQ']

--- TEST ---
Before: ['Rec' 'ALQ' 'GLQ' 'Unf' 'BLQ' 'LwQ' nan]
After: ['Rec' 'ALQ' 'GLQ' 'Unf' 'BLQ' 'LwQ' 'No BsmtFinType1']


******* BsmtFinType2 *******
--- TRAIN ---
Before: ['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
After: ['Unf' 'BLQ' 'No BsmtFinType2' 'ALQ' 'Rec' 'LwQ' 'GLQ']

--- TEST ---
Before: ['LwQ' 'Unf' 'Rec' 'BLQ' 'GLQ' 'ALQ' nan]
After: ['LwQ' 'Unf' 'Rec' 'BLQ' 'GLQ' 'ALQ' 'No BsmtFinType2']


******* FireplaceQu *******
--- TRAIN ---
Before: [nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
After: ['No FireplaceQu' 'TA' 'Gd' 'Fa' 'Ex' 'Po']

--- TEST ---
Before: [nan 'TA' 'Gd' 'Po' 'Fa' 'Ex']
After: ['No FireplaceQu' 'TA' 'Gd' 'Po' 'Fa' 'Ex']


******* GarageType *******
--- TRAIN ---
Before: ['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
After: ['Attchd' 'Detchd' 'BuiltIn' 'CarPort' 'No GarageType' 'Basment' '2Types']

--- TEST ---
Before: ['Attchd' 'Detchd' 'BuiltIn' nan 'Basment' '2Types' 'CarPort']
After: ['Attchd' 'Detchd' 'BuiltIn' 'No GarageType' 'Basment' '2Types' 'CarPort']


******* GarageFinish *******
--- TRAIN ---
Before: ['RFn' 'Unf' 'Fin' nan]
After: ['RFn' 'Unf' 'Fin' 'No GarageFinish']

--- TEST ---
Before: ['Unf' 'Fin' 'RFn' nan]
After: ['Unf' 'Fin' 'RFn' 'No GarageFinish']


******* GarageQual *******
--- TRAIN ---
Before: ['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
After: ['TA' 'Fa' 'Gd' 'No GarageQual' 'Ex' 'Po']

--- TEST ---
Before: ['TA' nan 'Fa' 'Gd' 'Po']
After: ['TA' 'No GarageQual' 'Fa' 'Gd' 'Po']


******* GarageCond *******
--- TRAIN ---
Before: ['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
After: ['TA' 'Fa' 'No GarageCond' 'Gd' 'Po' 'Ex']

--- TEST ---
Before: ['TA' nan 'Fa' 'Gd' 'Po' 'Ex']
After: ['TA' 'No GarageCond' 'Fa' 'Gd' 'Po' 'Ex']


******* PoolQC *******
--- TRAIN ---
Before: [nan 'Ex' 'Fa' 'Gd']
After: ['No PoolQC' 'Ex' 'Fa' 'Gd']

--- TEST ---
Before: [nan 'Ex' 'Gd']
After: ['No PoolQC' 'Ex' 'Gd']


******* Fence *******
--- TRAIN ---
Before: [nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
After: ['No Fence' 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']

--- TEST ---
Before: ['MnPrv' nan 'GdPrv' 'GdWo' 'MnWw']
After: ['MnPrv' 'No Fence' 'GdPrv' 'GdWo' 'MnWw']


******* MiscFeature *******
--- TRAIN ---
Before: [nan 'Shed' 'Gar2' 'Othr' 'TenC']
After: ['No MiscFeature' 'Shed' 'Gar2' 'Othr' 'TenC']

--- TEST ---
Before: [nan 'Gar2' 'Shed' 'Othr']
After: ['No MiscFeature' 'Gar2' 'Shed' 'Othr']

In [9]:
missing_values(train[special_cases_features_lst], test[special_cases_features_lst]).query("Train > 0 or Test > 0")

Empty DataFrame
Columns: [Train, Test, % Train, % Test]
Index: []

In [10]:
missing_values(train[categorical_features_lst], test[categorical_features_lst]).query("Train > 0 or Test > 0")

             Train  Test  % Train  % Test
MSZoning         0     4     0.00    0.00
Utilities        0     2     0.00    0.00
Exterior1st      0     1     0.00    0.00
Exterior2nd      0     1     0.00    0.00
MasVnrType       8    16     0.01    0.01
Electrical       1     0     0.00    0.00
KitchenQual      0     1     0.00    0.00
Functional       0     2     0.00    0.00
SaleType         0     1     0.00    0.00

In [11]:
print('******* TRAIN *******')
for column in categorical_features_lst:
    if np.nan in list(train[column].unique()):
        print(f'\n{column}:')
        print('Before:', train[column].unique(), end='\n')
        train[column] = train[column].apply(lambda value: train[column].mode()[0] if pd.isna(value) else value)
        print('After:', train[column].unique(), end='\n')

print('\n******* TEST *******')
for column in categorical_features_lst:
    if np.nan in list(test[column].unique()):
        print(f'\n{column}:')
        print('Before:', test[column].unique(), end='\n')
        test[column] = test[column].apply(lambda value: test[column].mode()[0] if pd.isna(value) else value)
        print('After:', test[column].unique(), end='\n')
        
del column

******* TRAIN *******

MasVnrType:
Before: ['BrkFace' 'None' 'Stone' 'BrkCmn' nan]
After: ['BrkFace' 'None' 'Stone' 'BrkCmn']

Electrical:
Before: ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
After: ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']

******* TEST *******

MSZoning:
Before: ['RH' 'RL' 'RM' 'FV' 'C (all)' nan]
After: ['RH' 'RL' 'RM' 'FV' 'C (all)']

Utilities:
Before: ['AllPub' nan]
After: ['AllPub']

Exterior1st:
Before: ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'CemntBd' 'WdShing'
 'BrkFace' 'AsbShng' 'BrkComm' 'Stucco' 'AsphShn' nan 'CBlock']
After: ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'CemntBd' 'WdShing'
 'BrkFace' 'AsbShng' 'BrkComm' 'Stucco' 'AsphShn' 'CBlock']

Exterior2nd:
Before: ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'Brk Cmn' 'CmentBd'
 'ImStucc' 'Wd Shng' 'AsbShng' 'Stucco' 'CBlock' 'BrkFace' 'AsphShn' nan
 'Stone']
After: ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'Brk Cmn' 'CmentBd'
 'ImStucc' 'Wd Shng' 'AsbShng' 'Stucco' 'CBlock' 'BrkFace' 'AsphShn'
 'Stone']

MasVnrType:
Before: ['None' 'BrkFace' 'Stone' 'BrkCmn' nan]
After: ['None' 'BrkFace' 'Stone' 'BrkCmn']

KitchenQual:
Before: ['TA' 'Gd' 'Ex' 'Fa' nan]
After: ['TA' 'Gd' 'Ex' 'Fa']

Functional:
Before: ['Typ' 'Min2' 'Min1' 'Mod' 'Maj1' 'Sev' 'Maj2' nan]
After: ['Typ' 'Min2' 'Min1' 'Mod' 'Maj1' 'Sev' 'Maj2']

SaleType:
Before: ['WD' 'COD' 'New' 'ConLD' 'Oth' 'Con' 'ConLw' 'ConLI' 'CWD' nan]
After: ['WD' 'COD' 'New' 'ConLD' 'Oth' 'Con' 'ConLw' 'ConLI' 'CWD']

In [12]:
print("\n********* TRAIN *********")
for column in train.columns:
    for value in train[column].unique():
        if value == 'None':
            print(f'\n{column} has None values')
            train[column] = train[column].apply(lambda record: f'No {column}' if record == 'None' else record)
            print('REPLACED:', train[column].unique())
    
print("\n********* TEST  *********")
for column in test.columns:
    for value in test[column].unique():
        if value == 'None':
            print(f'\n{column} has None values')
            test[column] = test[column].apply(lambda record: f'No {column}' if record == 'None' else record)
            print('REPLACED:', test[column].unique())

del column

********* TRAIN *********

MasVnrType has None values
REPLACED: ['BrkFace' 'No MasVnrType' 'Stone' 'BrkCmn']

********* TEST  *********

MasVnrType has None values
REPLACED: ['No MasVnrType' 'BrkFace' 'Stone' 'BrkCmn']

In [13]:
missing_values(train[categorical_features_lst], test[categorical_features_lst]).query("Train > 0 or Test > 0")

Empty DataFrame
Columns: [Train, Test, % Train, % Test]
Index: []

In [14]:
missing_values(train[numerical_features_lst[2:]], test[numerical_features_lst[2:]]).query("Train > 0 or Test > 0")

              Train  Test  % Train  % Test
LotFrontage     259   227     0.18    0.16
MasVnrArea        8    15     0.01    0.01
BsmtFinSF1        0     1     0.00    0.00
BsmtFinSF2        0     1     0.00    0.00
BsmtUnfSF         0     1     0.00    0.00
TotalBsmtSF       0     1     0.00    0.00
BsmtFullBath      0     2     0.00    0.00
BsmtHalfBath      0     2     0.00    0.00
GarageYrBlt      81    78     0.06    0.05
GarageCars        0     1     0.00    0.00
GarageArea        0     1     0.00    0.00

In [15]:
def compare_columns(dataset, missing_column, compare_column):
    return dataset[pd.isna(dataset[missing_column])][[missing_column, compare_column]]

In [16]:
compare_columns(train, 'LotFrontage', 'Street')

      LotFrontage Street
7             NaN   Pave
12            NaN   Pave
14            NaN   Pave
16            NaN   Pave
24            NaN   Pave
31            NaN   Pave
42            NaN   Pave
43            NaN   Pave
50            NaN   Pave
64            NaN   Pave
66            NaN   Pave
76            NaN   Pave
84            NaN   Pave
95            NaN   Pave
100           NaN   Pave
104           NaN   Pave
111           NaN   Pave
113           NaN   Pave
116           NaN   Pave
120           NaN   Pave
126           NaN   Pave
131           NaN   Pave
133           NaN   Pave
136           NaN   Pave
147           NaN   Pave
149           NaN   Pave
152           NaN   Pave
153           NaN   Pave
160           NaN   Pave
166           NaN   Pave
169           NaN   Pave
170           NaN   Pave
177           NaN   Pave
180           NaN   Pave
186           NaN   Pave
191           NaN   Pave
203           NaN   Pave
207           NaN   Pave
208           NaN   Pave
214           NaN   Pave
218           NaN   Pave
221           NaN   Pave
234           NaN   Pave
237           NaN   Pave
244           NaN   Pave
249           NaN   Pave
269           NaN   Pave
287           NaN   Pave
288           NaN   Pave
293           NaN   Pave
307           NaN   Pave
308           NaN   Pave
310           NaN   Pave
319           NaN   Pave
328           NaN   Pave
330           NaN   Pave
335           NaN   Grvl
342           NaN   Pave
346           NaN   Pave
347           NaN   Pave
351           NaN   Pave
356           NaN   Pave
360           NaN   Pave
361           NaN   Pave
364           NaN   Pave
366           NaN   Pave
369           NaN   Pave
370           NaN   Pave
375           NaN   Pave
384           NaN   Pave
392           NaN   Pave
393           NaN   Pave
404           NaN   Pave
405           NaN   Pave
412           NaN   Pave
421           NaN   Pave
426           NaN   Pave
447           NaN   Pave
452           NaN   Pave
457           NaN   Pave
458           NaN   Pave
459           NaN   Pave
465           NaN   Pave
470           NaN   Pave
484           NaN   Pave
490           NaN   Pave
496           NaN   Pave
516           NaN   Pave
518           NaN   Pave
529           NaN   Pave
537           NaN   Pave
538           NaN   Pave
539           NaN   Pave
541           NaN   Pave
545           NaN   Pave
559           NaN   Pave
560           NaN   Pave
564           NaN   Pave
569           NaN   Pave
580           NaN   Pave
593           NaN   Pave
610           NaN   Pave
611           NaN   Pave
612           NaN   Pave
616           NaN   Pave
623           NaN   Pave
626           NaN   Pave
641           NaN   Pave
645           NaN   Pave
660           NaN   Pave
666           NaN   Pave
668           NaN   Pave
672           NaN   Pave
679           NaN   Pave
682           NaN   Pave
685           NaN   Pave
687           NaN   Pave
690           NaN   Pave
706           NaN   Pave
709           NaN   Pave
714           NaN   Pave
720           NaN   Pave
721           NaN   Pave
726           NaN   Pave
734           NaN   Pave
745           NaN   Pave
746           NaN   Pave
751           NaN   Pave
757           NaN   Pave
770           NaN   Pave
783           NaN   Pave
785           NaN   Pave
789           NaN   Pave
791           NaN   Pave
794           NaN   Pave
811           NaN   Pave
816           NaN   Pave
817           NaN   Pave
822           NaN   Pave
828           NaN   Pave
840           NaN   Pave
845           NaN   Pave
851           NaN   Pave
853           NaN   Pave
855           NaN   Pave
856           NaN   Pave
859           NaN   Pave
865           NaN   Pave
868           NaN   Pave
879           NaN   Pave
882           NaN   Pave
893           NaN   Pave
900           NaN   Pave
904           NaN   Pave
908           NaN   Pave
911           NaN   Pave
917           NaN   Pave
925           NaN   Pave
927           NaN   Pave
928           NaN   Pave
929           NaN   Pave
939           NaN   Pave
941           NaN   Pave
944           NaN   Pave
953           NaN   Pave
961           NaN   Pave
967           NaN   Pave
975           NaN   Pave
980           NaN   Pave
983           NaN   Pave
988           NaN   Pave
996           NaN   Pave
997           NaN   Pave
1003          NaN   Pave
1006          NaN   Pave
1017          NaN   Pave
1018          NaN   Pave
1024          NaN   Pave
1030          NaN   Pave
1032          NaN   Pave
1033          NaN   Pave
1035          NaN   Pave
1037          NaN   Pave
1041          NaN   Pave
1045          NaN   Pave
1057          NaN   Pave
1059          NaN   Pave
1064          NaN   Pave
1077          NaN   Pave
1084          NaN   Pave
1086          NaN   Pave
1097          NaN   Pave
1108          NaN   Pave
1110          NaN   Pave
1116          NaN   Pave
1122          NaN   Pave
1124          NaN   Pave
1138          NaN   Pave
1141          NaN   Pave
1143          NaN   Pave
1146          NaN   Pave
1148          NaN   Pave
1153          NaN   Pave
1154          NaN   Pave
1161          NaN   Pave
1164          NaN   Pave
1177          NaN   Pave
1180          NaN   Pave
1190          NaN   Pave
1193          NaN   Pave
1206          NaN   Pave
1213          NaN   Pave
1230          NaN   Pave
1233          NaN   Pave
1244          NaN   Pave
1247          NaN   Pave
1251          NaN   Pave
1253          NaN   Pave
1260          NaN   Pave
1262          NaN   Pave
1268          NaN   Pave
1270          NaN   Pave
1271          NaN   Pave
1272          NaN   Pave
1276          NaN   Pave
1277          NaN   Pave
1286          NaN   Pave
1287          NaN   Pave
1290          NaN   Pave
1300          NaN   Pave
1301          NaN   Pave
1309          NaN   Pave
1312          NaN   Pave
1318          NaN   Pave
1321          NaN   Pave
1342          NaN   Pave
1346          NaN   Pave
1348          NaN   Pave
1354          NaN   Pave
1356          NaN   Pave
1357          NaN   Pave
1358          NaN   Pave
1362          NaN   Pave
1365          NaN   Pave
1368          NaN   Pave
1373          NaN   Pave
1381          NaN   Pave
1383          NaN   Pave
1396          NaN   Pave
1407          NaN   Pave
1417          NaN   Pave
1419          NaN   Pave
1423          NaN   Pave
1424          NaN   Pave
1429          NaN   Pave
1431          NaN   Pave
1441          NaN   Pave
1443          NaN   Pave
1446          NaN   Pave

In [17]:
print('\n*** TRAIN mean ***')
print('LotFrontage:', float((train['LotFrontage'].mean())))
print('LotFrontage (Pave Street):', float(train[train['Street']=='Pave'][['LotFrontage', 'Street']].mean()))
print('\n*** TEST mean ***')
print('LotFrontage:', float((test['LotFrontage'].mean())))
print('LotFrontage (Pave Street):', float(test[test['Street']=='Pave'][['LotFrontage', 'Street']].mean()))

*** TRAIN mean ***
LotFrontage: 70.04995836802665
LotFrontage (Pave Street): 69.98578595317726

*** TEST mean ***
LotFrontage: 68.58035714285714
LotFrontage (Pave Street): 68.48899755501222

In [18]:
train_lotfront_age_mean = float(math.floor(train['LotFrontage'].mean()))
test_lotfront_age_mean = float(math.floor(test['LotFrontage'].mean()))

train['LotFrontage'] = train['LotFrontage'].apply(lambda distance: train_lotfront_age_mean if pd.isna(distance) else distance)
test['LotFrontage'] = test['LotFrontage'].apply(lambda distance: test_lotfront_age_mean if pd.isna(distance) else distance)

del train_lotfront_age_mean, test_lotfront_age_mean

In [19]:
compare_columns(train, 'MasVnrArea', 'MasVnrType')

      MasVnrArea     MasVnrType
234          NaN  No MasVnrType
529          NaN  No MasVnrType
650          NaN  No MasVnrType
936          NaN  No MasVnrType
973          NaN  No MasVnrType
977          NaN  No MasVnrType
1243         NaN  No MasVnrType
1278         NaN  No MasVnrType

In [20]:
train['MasVnrArea'] = train['MasVnrArea'].apply(lambda area: 0.0 if pd.isna(area) else area)
test['MasVnrArea'] = test['MasVnrArea'].apply(lambda area: 0.0 if pd.isna(area) else area)

In [21]:
compare_columns(train, 'GarageYrBlt', 'GarageCond')

      GarageYrBlt     GarageCond
39            NaN  No GarageCond
48            NaN  No GarageCond
78            NaN  No GarageCond
88            NaN  No GarageCond
89            NaN  No GarageCond
99            NaN  No GarageCond
108           NaN  No GarageCond
125           NaN  No GarageCond
127           NaN  No GarageCond
140           NaN  No GarageCond
148           NaN  No GarageCond
155           NaN  No GarageCond
163           NaN  No GarageCond
165           NaN  No GarageCond
198           NaN  No GarageCond
210           NaN  No GarageCond
241           NaN  No GarageCond
250           NaN  No GarageCond
287           NaN  No GarageCond
291           NaN  No GarageCond
307           NaN  No GarageCond
375           NaN  No GarageCond
386           NaN  No GarageCond
393           NaN  No GarageCond
431           NaN  No GarageCond
434           NaN  No GarageCond
441           NaN  No GarageCond
464           NaN  No GarageCond
495           NaN  No GarageCond
520           NaN  No GarageCond
528           NaN  No GarageCond
533           NaN  No GarageCond
535           NaN  No GarageCond
562           NaN  No GarageCond
582           NaN  No GarageCond
613           NaN  No GarageCond
614           NaN  No GarageCond
620           NaN  No GarageCond
635           NaN  No GarageCond
636           NaN  No GarageCond
638           NaN  No GarageCond
649           NaN  No GarageCond
705           NaN  No GarageCond
710           NaN  No GarageCond
738           NaN  No GarageCond
750           NaN  No GarageCond
784           NaN  No GarageCond
826           NaN  No GarageCond
843           NaN  No GarageCond
921           NaN  No GarageCond
942           NaN  No GarageCond
954           NaN  No GarageCond
960           NaN  No GarageCond
968           NaN  No GarageCond
970           NaN  No GarageCond
976           NaN  No GarageCond
1009          NaN  No GarageCond
1011          NaN  No GarageCond
1030          NaN  No GarageCond
1038          NaN  No GarageCond
1096          NaN  No GarageCond
1123          NaN  No GarageCond
1131          NaN  No GarageCond
1137          NaN  No GarageCond
1143          NaN  No GarageCond
1173          NaN  No GarageCond
1179          NaN  No GarageCond
1218          NaN  No GarageCond
1219          NaN  No GarageCond
1234          NaN  No GarageCond
1257          NaN  No GarageCond
1283          NaN  No GarageCond
1323          NaN  No GarageCond
1325          NaN  No GarageCond
1326          NaN  No GarageCond
1337          NaN  No GarageCond
1349          NaN  No GarageCond
1407          NaN  No GarageCond
1449          NaN  No GarageCond
1450          NaN  No GarageCond
1453          NaN  No GarageCond

In [22]:
train['GarageYrBlt'] = train['GarageYrBlt'].apply(lambda year: 0.0 if pd.isna(year) else year)
test['GarageYrBlt'] = test['GarageYrBlt'].apply(lambda year: 0.0 if pd.isna(year) else year)

In [23]:
missing_values(train[numerical_features_lst[2:]], test[numerical_features_lst[2:]]).query("Train > 0 or Test > 0")

              Train  Test  % Train  % Test
BsmtFinSF1        0     1      0.0     0.0
BsmtFinSF2        0     1      0.0     0.0
BsmtUnfSF         0     1      0.0     0.0
TotalBsmtSF       0     1      0.0     0.0
BsmtFullBath      0     2      0.0     0.0
BsmtHalfBath      0     2      0.0     0.0
GarageCars        0     1      0.0     0.0
GarageArea        0     1      0.0     0.0

In [24]:
compare_columns(test, 'BsmtFinSF1', 'BsmtCond')

     BsmtFinSF1     BsmtCond
660         NaN  No BsmtCond

In [25]:
compare_columns(test, 'BsmtFinSF2', 'BsmtCond')

     BsmtFinSF2     BsmtCond
660         NaN  No BsmtCond

In [26]:
compare_columns(test, 'BsmtUnfSF', 'BsmtCond')

     BsmtUnfSF     BsmtCond
660        NaN  No BsmtCond

In [27]:
compare_columns(test, 'TotalBsmtSF', 'BsmtCond')

     TotalBsmtSF     BsmtCond
660          NaN  No BsmtCond

In [28]:
compare_columns(test, 'BsmtFullBath', 'BsmtCond')

     BsmtFullBath     BsmtCond
660           NaN  No BsmtCond
728           NaN  No BsmtCond

In [29]:
compare_columns(test, 'BsmtHalfBath', 'BsmtCond')

     BsmtHalfBath     BsmtCond
660           NaN  No BsmtCond
728           NaN  No BsmtCond

In [30]:
compare_columns(test, 'GarageCars', 'GarageCond')

      GarageCars     GarageCond
1116         NaN  No GarageCond

In [31]:
compare_columns(test, 'GarageArea', 'GarageCond')

      GarageArea     GarageCond
1116         NaN  No GarageCond

In [32]:
missing_numerical_columns_test = missing_values(
    train[numerical_features_lst[2:]], 
    test[numerical_features_lst[2:]]).query("Train > 0 or Test > 0")['Test'].index

for column in missing_numerical_columns_test:
    test[column] = test[column].apply(lambda area: 0.0 if pd.isna(area) else area)
    
del missing_numerical_columns_test, column

In [33]:
missing_values(train[numerical_features_lst[2:]], test[numerical_features_lst[2:]]).query("Train > 0 or Test > 0")

Empty DataFrame
Columns: [Train, Test, % Train, % Test]
Index: []

In [34]:
test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [35]:
# object_features_train = []
# float_features_train = []
# integer_features_train = []

# object_features_test = []
# float_features_test = []
# integer_features_test = []

# for column in train.columns:
#     if train[column].dtype == object:
#         object_features_train.append(column)
#     elif train[column].dtype == 'float64':
#         float_features_train.append(column)
#     elif train[column].dtype == 'int64':
#         integer_features_train.append(column)

# print(object_features_train, end='\n\n')
# print(float_features_train, end='\n\n')
# print(integer_features_train, end='\n\n')
# print(len(object_features_train) + len(float_features_train) + len(integer_features_train), end='\n\n')
# print(len(train.columns), end='\n\n')

# for column in test.columns:
#     if test[column].dtype == object:
#         object_features_test.append(column)
#     elif test[column].dtype == 'float64':
#         float_features_test.append(column)
#     elif test[column].dtype == 'int64':
#         integer_features_test.append(column)

# print(object_features_test, end='\n\n')
# print(float_features_test, end='\n\n')
# print(integer_features_test, end='\n\n')
# print(len(object_features_test) + len(float_features_test) + len(integer_features_test), end='\n\n')
# print(len(test.columns), end='\n\n')

In [36]:
# # Replace categorical missing values with the most frequent value
# print('\n***** Missing Categorical Features *****')
# for column in missing_categorical_features_test:
#     test[column] = test[column].apply(lambda value: test[column].mode()[0] if pd.isna(value) else value)
#     print(test[column].value_counts(), end='\n\n')
    
# # Replace numerical missing values with the mean 
# print('\n***** Missing Numerical Features *****')
# for column in missing_numerical_features_test:
#     test[column] = test[column].apply(lambda value: test[column].mean() if pd.isna(value) else value)

# # Replace categorical missing values with Not Available   
# print('\n***** No Categorical Features *****')
# for column in no_categorical_feautures_test:
#     test[column] = test[column].apply(lambda value: f'No {column}' if pd.isna(value) else value)
#     print(test[column].value_counts(), end='\n\n')

# # Replace numerical missing values with Not Available 
# print('\n***** No Numerical Features *****')
# for column in no_numerical_feautures_test:
#     test[column] = test[column].apply(lambda value: 0 if pd.isna(value) else value)

# # Replace None in MasVnrType column
# test.MasVnrType = test.MasVnrType.apply(lambda record: 'No MasVnrType' if record == 'None' else record)

In [37]:
# # Replace categorical missing values with the most frequent value
# print('\n***** Missing Categorical Features *****')
# for column in missing_categorical_features_train:
#     train[column] = train[column].apply(lambda value: train[column].mode()[0] if pd.isna(value) else value)
#     print(train[column].value_counts(), end='\n\n')
    
# # Replace numerical missing values with the mean 
# print('\n***** Missing Numerical Features *****')
# for column in missing_numerical_features_train:
#     train[column] = train[column].apply(lambda value: train[column].mean() if pd.isna(value) else value)

# # Replace categorical missing values with Not Available  
# print('\n***** No Categorical Features *****')
# for column in no_categorical_feautures_train:
#     train[column] = train[column].apply(lambda value: f'No {column}' if pd.isna(value) else value)
#     print(train[column].value_counts(), end='\n\n')

# # Replace numerical missing values with Not Available 
# print('\n***** No Numerical Features *****')
# for column in no_numerical_feautures_train:
#     train[column] = train[column].apply(lambda value: 0 if pd.isna(value) else value)
    
# # Replace None in MasVnrType column
# train.MasVnrType = train.MasVnrType.apply(lambda record: 'No MasVnrType' if record == 'None' else record)